/* start global */
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', Arial, Helvetica, sans-serif;
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
*:focus {
    outline: none;
}
/* end global */
/* start side */
.mapy {
    display: flex;
}
.side {
    position: relative;
    background-color: #333333;
    color: #bdb0b0;
    text-align: center;
}
.side .side-title {
    margin: 20px 0;
    position: relative;
}
.side .side-title a{
    position: relative;
    width: 90px;
    display: block;
    padding: 30px 50px;
    margin: 0 auto;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    background: linear-gradient(90deg, rgba(0,97,142,1) 17%, rgba(38,207,242,1) 79%);
}
.side .side-title a:hover {
    animation: rotate 0.4s linear infinite;
    background: radial-gradient(circle, rgba(17,147,187,1) 0%, rgba(25,187,156,1) 100%);
}
.side .side-title a span {
    height: 80%;
    width: 90%;
    background: #f7f7f7;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 6px;
    line-height: 48px;
    font-size: 22px;
    transform: translate(-50%, -50%);
}
.side .side-title::before {
    content: "";
    width: 65px;
    height: 3px;
    position: absolute;
    background-color: #19bb9c;
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
}
.side .side-title::after {
    content: "";
    width: 9px;
    height: 10px;
    position: absolute;
    background-color: #19bb9c;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.side .search-location {
    padding: 20px 10px 10px;
}
.side .search-location h2{
    font-size: 14px;
    text-align: center;
}
.side .search-location label{
    font-size: 15px;
    padding: 0 5px
}
.side .search-location .lat input{
    margin-left: 12px;
}
.side .search-location input{
    border: 1px solid #ccc;
    height: 19px;
    font-size: 14px;
    padding: 10px 5px;
    margin: 5px 0;
}
.side .search-location .search-footer,
.weather .weat-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.side .search-location .search-footer .search-btn,
.weather .weat-btn .weather-btn,
.weather-modal-overlay .modal-footer .close-btn{
    padding: 8px 12px;
    background-color: #19bb9c;
    outline: none;
    border: 1px solid #19bb9c;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.weather {
    margin-top: 35px;
}
.weather .weat-header h3{
    text-align: center;
    font-size: 14px;
}
.weather .weat-header label{
    font-size: 14px;
}
.weather .weat-header .location-inpu{
    font-size: 14px;
}
.weather .weatData-content p {
    font-size: 12px;
    line-height: 12px;
}
.weather-modal-overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
}
.weather-modal-overlay .weather-modal {
    max-width: 600px;
    width: 100%;
    background-color: #333333;
    color: #bdb0b0;
    height: 480px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    z-index: 999;
}
.weather-modal-overlay .weather-modal .modal-content {
    background: white;
    color: black;
}
.weather-modal-overlay .weather-modal .modal-header{
    text-align: center;
}
.weather-modal-overlay .weather-modal .modal-footer {
    margin-top: auto;
    text-align: end;
}
.map-view {
    float: right;
    width: 80%;
}
.side-footer {
    padding: 25px 10px;
    position: absolute;
    bottom: 0;
    line-height: 1.3;
    font-size: 16px;
}
.side-footer i {
    color: #bdb0b0;
    padding: 5px;
}
.side-footer a:hover i {
    color: #19bb9c;
}
.side-footer .special {
    color: #19bb9c;
    font-weight: bold;
}
@media (max-width: 768px) {
    .side {
        width: 33%;
        float: left;
    }
    .side .side-title {
        margin: 10px 0;
    }
    .side .side-title a{
    padding: 25px 40px;
    }
    .side .side-title a span {
        height: 80%;
        width: 90%;
        line-height: 38px;
        font-size: 19px;
    }
    .side .side-title::before {
        width: 58px;
        height: 3px;
        bottom: -13px;
    }
    .side .side-title::after {
        width: 9px;
        height: 10px;
        bottom: -10px;
        left: 50%;
    }
    .side .search-location{
        margin-top: 20px;
        padding: 5px 0;
    }
    .side .search-location h2,
    .weather .weat-header h3{
        font-size: 12px;
        text-align: center;
    }
    .side .search-location label,
    .weather .weat-header label {
        display: none;
    }
    .side .search-location input,
    .weather .weat-header input {
        width: 90px;
        text-align: center;
        font-size: 13px !important; 
    }
    .side .search-location .lat input{
        margin-left: 0;
    }
    .side .search-location .search-footer .search-btn,
    .weather .weat-btn .weather-btn {
        padding: 6px 8px;
        font-size: 12px;
        font-weight: bold;
    }
    .weather {
        margin-top: 20px;
    }
    .side-footer {
        font-size: 13px;
        padding: 10px 3px 25px;
    }
    .side-footer i {
        padding: 2px;
    }
    .side-footer .span2 {
        font-size: 12px;
    }
    .weather-modal-overlay .weather-modal {
        max-width: 500px;
        width: 90%;
        background-color: #333333;
        height: 310px;
        padding: 10px;
    }
    .weather-modal-overlay .weather-modal .modal-header h2{
        margin: 5px;
        font-size: 13px;
    }
    .weather-modal .info {
        margin: 3px;
    }
    .weather-modal .info p{
        font-size: 11px;
        margin: 5px;
    }
    .weather-modal .info img{
        width: 15px;
        height: 15px;
    }
    .weather-modal .modal-footer {
        margin-top: 8px;
    }
    .weather-modal-overlay .modal-footer .close-btn {
        padding: 5px;
        font-size: 13px;
    }
}
/* end side */
/* start map */
.map {
    position: relative;
    width: 100%;
    height: 100vh;
}
.map-home {
    position: absolute;
    top: 80px;
    left: 3px;
    z-index: 999;
    padding: 7px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #fff;
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    cursor: pointer;
}
.info {
    display: flex;
}
.info p{
    margin: 10px;
}
.info img{
    width: 30px;
    height: 30px;
}
.esri-search {
    width: 180px !important;
}
.esri-ui-inner-container {
    top: 11px !important;
    right: 5px !important;
    left: 5px !important;
}
.esri-input::placeholder {
    font-size: 13px !important;
}
.esri-menu {
    font-size: 13px !important;
}
/* end map */
